@font-face {
  font-family: "TTBold";
  src: url("assets/fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 900;
}

@font-face {
  font-family: "TTRegular";
  src: url("assets/fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "TTMedium";
  src: url("assets/fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 400;
}

body,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1120px;
}

.button-item.button-item_hidden {
  display: none;
}

.header {
  border-bottom: 1px solid #d9fff5;
}

.header__inner {
  padding: 18px 16px;
  height: 88px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
}

.header__buttons-left, .header__buttons-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

@media (min-width: 992px) {
  .header {
    border: none;
    background: #f8f8f8;
  }
  .header__inner {
    padding: 42px 32px 0 32px;
  }
  .header__buttons {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__buttons-left {
    display: none;
  }
}

.button-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff3e79;
  border: none;
}

.button-item_burger {
  background-image: url("./assets/img/mobile-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header__logo {
  position: relative;
  height: 50px;
  width: 96px;
  background-color: transparent;
}

.header__logo::after {
  content: "";
  position: absolute;
  top: 6px;
  right: -17px;
  height: 32px;
  width: 2px;
  border-radius: 1px;
  background: #eaeaea;
}

@media (min-width: 768px) {
  .logo {
    padding-left: 16px;
  }
  .header__logo::after {
    left: 0;
  }
  .button-item_setting_background {
    margin-left: 16px;
  }
}

.button-item_setting_background {
  background-image: url("./assets/img/settings.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-item_search_background {
  background-image: url("./assets/img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .button-item.button-item_hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .button-item_profile_background::after {
    content: "";
    position: absolute;
    right: -16px;
    height: 32px;
    width: 2px;
    border-radius: 1px;
    background: #eaeaea;
  }
}

.btn-text {
  font-family: "TTRegular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  letter-spacing: -0.2px;
  color: #1b1c21;
  display: none;
}

@media (min-width: 992px) {
  .button-item.button-item_hidden {
    display: none;
  }
  .btn-text {
    display: block;
  }
  .button-item_setting_background {
    margin-left: 0;
  }
}

.button-item_phone_background {
  background-image: url("./assets/img/call-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-item_chat_background {
  background-image: url("./assets/img/chat.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-item_profile_background {
  position: relative;
  background-image: url("./assets/img/profile.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header__buttons-right--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.main {
  background: #f8f8f8;
}

.page-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-family: "TTBold", sans-serif;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1b1c21;
}

.title:before {
  content: "";
  display: inline-block;
  height: 40px;
  border: 2px solid #41f6d7;
  background: #41f6d7;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

@media (min-width: 992px) {
  .title {
    margin: 0;
    position: absolute;
    top: 42px;
  }
}

.nav {
  padding-left: 24px;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  position: relative;
}

.nav__menu-item {
  margin-right: 15px;
}

@media (max-width: 674px) {
  .nav {
    padding-left: 16px;
    padding-right: 0;
  }
  .nav__menu {
    gap: 17px;
  }
}

.nav-link {
  display: inline-block;
  font-family: "TTRegular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
  text-decoration: none;
  white-space: nowrap;
}

.nav-link.active {
  padding: 8px 22px;
  background: #ffffff;
  border: 2px solid #b8ffec;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
}

@media (max-width: 1109px) {
  .nav__menu {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-y: hidden;
    gap: 28px;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__menu-item {
    margin: 0;
  }
  .nav-link_fade:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 40px;
    background: -webkit-gradient(linear, right top, left top, color-stop(16.84%, #f8f8f8), to(rgba(248, 248, 248, 0.0001)));
    background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  }
}

.about {
  padding: 8px 32px 50px 32px;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 36px;
}

.about__text {
  max-width: 490px;
}

.about__text p {
  font-family: "TTMedium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1b1c21;
}

@media (max-width: 674px) {
  .about .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about__text {
    padding: 0 16px;
  }
  .about .about__text p:nth-child(2) {
    display: none;
  }
}

.about__full-text-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-family: "TTRegular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  background: transparent;
  border: none;
}

.about__full-text-btn:before {
  content: "";
  margin-right: 16px;
  height: 10px;
  width: 7px;
  background-image: url("assets/img/down-icon.svg");
  background-repeat: no-repeat;
}

.about__image img {
  max-width: 531px;
  max-height: 307px;
  border-radius: 6px;
}

@media (max-width: 674px) {
  .about {
    padding: 0;
  }
  .about__image img {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .text-hidden {
    display: none;
  }
  .about__image img {
    max-height: 208px;
    max-width: 360px;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

.aside {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 1024px;
  -webkit-box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
          box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

.aside__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px;
}

.aside__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside__header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside__logo {
  padding-left: 16px;
}

.aside .logo {
  padding: 0;
}

.aside .button-item {
  cursor: pointer;
}

.aside .button-item:hover {
  background-color: #e23066;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.aside .nav__menu {
  overflow: visible;
}

.aside__nav {
  margin-top: 46px;
}

.aside__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.aside .nav-link.active {
  padding: 0;
  border: none;
  color: #7e7e82;
}

.aside .nav-link:hover {
  text-decoration: underline;
}

.aside .active:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  height: 32px;
  border: 2px solid #41f6d7;
  background: #41f6d7;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}

.aside__footer {
  position: absolute;
  bottom: 32px;
}

.aside__footer a:hover {
  text-decoration: underline;
}

.aside__footer-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.aside .button-item_profile_background:after {
  content: none;
}

.aside__footer-mail {
  padding: 16px 0;
}

.aside__footer-mail a {
  text-decoration: none;
  font-family: "TTRegular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
}

.aside__footer-phone a {
  text-decoration: none;
  font-family: "TTBold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1b1c21;
}

.aside__footer-lang {
  padding-top: 40px;
}

.aside__footer-lang .lang {
  cursor: pointer;
  font-family: "TTMedium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  border: none;
  background: transparent;
}

.aside__footer-lang .lang:hover {
  text-decoration: underline;
}

.aside__footer-lang .active-lang {
  color: #7e7e82;
}

.button-item_close {
  background-image: url("assets/img/close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-item_search_loupe_background {
  background-image: url("assets/img/search-loupe.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.aside__nav .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1b1c21;
}
/*# sourceMappingURL=index.css.map */